# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directory
/build/

# Environment variables
.env
.env.*
!.env.example

# Editor directories
.vscode-test

# Optional caches
.npm
.eslintcache
